/*--------------------------------------------*/
/*-------------- PUBLIC SETTING---------------*/
/*--------------------------------------------*/


.flex-container {
  display: grid;
  grid-gap: 15px;
}

.flex-container > div {
  text-align: center;
}

.redBox{
  background: #D42F39;
}

.greyBox{
  background: #292929;
  color: #ffffff;
}

.whiteBox{
  background: #ffffff;
}

.silverBox{
  background: #DFDFDF;
}

/*--------------------------------------------*/
/*-------------- ICON BAR---------------------*/
/*--------------------------------------------*/
.icon-bar {
  position: fixed;
  background-color: #D42F39;
  top: 130px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left:0;
  border-radius: 0px 8px 8px 0px;
  z-index: 999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #96232A;
  color: #ffffff;
  text-decoration: none;
}

/*--------------------------------------------*/
/*-------------- SEARCH BOX-------------------*/
/*--------------------------------------------*/

.searchBox{
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.redColor{
  color: #D42F39;
}

.inputContainder{
  position: relative;
  display: flex;
  padding: 0px !important;
  height: 100%;
  width: calc(100% / 3 * 2);
}

.searchBox span{
  float: right;
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: calc(50% - 10px);
}
.searchBox input[type=text] {
  padding: 8px;
  margin: 0px;
  font-size: 14px;
  height: 100%;
  width: 100%;
  border: none;
  position: relative;
  float: left;
  color: #292929;
}

.searchBox form{
  padding: 0px !important;
  height: 100%;
}

.searchBox button {
  padding: 9px;
  margin: 0px;
  height: 100%;
  background-color: #D42F39;
  font-size: 13px;
  border: none;
  float: left;
  cursor: pointer;
  width: calc(100% / 3);
}

.searchBox button:hover {
  background: #ccc;
}


/*--------------------------------------------*/
/*-------------- CAROUSAL SLIDER--------------*/
/*--------------------------------------------*/


.carousalContainer{
  align-content: center;

}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: auto !important;
  left: auto !important;
  top:20px;
  z-index: 15;
  /* padding-left: 0; */
  margin-left: auto !important;
  text-align: right !important;
  list-style: none;
}

.carousel-indicators li {
  display: block !important;
  border: none !important;
  background-color: #9e9e9e !important;
  margin: 0px !important;
  margin-bottom: 10px !important;

}

.carousel-indicators .active {
  background-color: #ffffff !important;
  width: 10px !important;
  height: 10px !important;
  border: none !important;
}

.carousel .button {
  background-color: rgb(0,0,0,0);
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  margin: 35px 0px;
  border-radius: 15px;
}

.carousalContainer .item{
  padding: 100px 60px;
  text-align: left;
}
.carousalContainer .item img{
  float: left;
  margin-right: 60px;
  margin-bottom: 20px;
}

.carousalContainer .item p{
  color: #9e9e9e;
  margin-top: 15px;
}

.carousalContainer .item strong{
  font-size: 14px;
}

h1{
  text-align: left;
  font-size: 15px !important;
  margin-top: 0px !important;
  font-weight: 600 !important;
}

h1 span{
  margin-right: 7px;
  font-size: 25px;
  vertical-align: middle;
}
.sliderTxt{
  padding: 0px;
}

/*--------------------------------------------*/
/*-------------- SELF SERVICES BOX------------*/
/*--------------------------------------------*/

.selfServiceBox{
  padding: 30px;
  color: #343434;
}

.selfServiceBox .shadedBox{
  background-color: #ECECEC;
  align-content: center;
  vertical-align: middle;
  padding: 25px 10px;
  padding-bottom: 0px;
  display: inline-block;
  width: 100%;
  height: calc(100% - 60px);
}

.selfServiceBox .serviceItem{
  padding: 24px;
}

.serviceItem span{
  margin-bottom: 10px;
  font-size: 30px;
}

.redButton {
  background-color: #D42F39;
  border: none;
  color: #ffffff;
  padding: 10px 40px;
  text-align: center;
  display: block;
  font-size: 10px;
  margin-top: 10px;
  border-radius: 17px;
}

.selfServiceBox .redButton {
  float: right;
}

/*--------------------------------------------*/
/*-------------- CIRCULAR BOX-----------------*/
/*--------------------------------------------*/

.redTag{
  background-color: #D42F39;
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
  vertical-align: middle;
  margin-left: 15px;
  font-weight: bold;
}


.circularsBox{
  text-align: left !important;
  padding: 40px 30px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./images/towers.jpg) !important;
  background-size: cover !important;
  background-position: center;
}

.circularsBox p{
  font-size: 12px;
  margin-bottom: 20px;
}

/*--------------------------------------------*/
/*-------------- ANNOUNCEMENT BOX-------------*/
/*--------------------------------------------*/

.announcementBox{
  text-align: left !important;
  color: #343434;
}

.announcementBox h1{
  padding: 30px 30px;
  margin: 0px;
}
.announcementItem{
  padding: 20px 30px;
  border-top: 2px dotted #e7e7e7;
  font-size: 14px;
  cursor: pointer;
}

.announcementItem .timeTxt{
  color: #e7e7e7;
  font-weight: bold;
}

.announcementItem p{
  margin: 0px !important;
}

.announcementBox .rightArrow{
  float: right;
  font-size: 11px;
  margin-top: 13px;
  color: #e7e7e7
}

/*--------------------------------------------*/
/*-------------- MARKETPLACE BOX--------------*/
/*--------------------------------------------*/

.carImage{
  text-align: left !important;
  padding: 40px 15px;
  height: 285px;
  background-image:  linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4)),url(./images/car.jpg) !important;
  background-size: cover !important;
  background-position: center;
}

.marketplaceBox{
  position: relative;
}

.marketplaceBox .item{
  padding: 0px !important;
}

.marketplaceBox .carousel-control{
  background-image: none !important;
  opacity: 1;
  color: #7A7A7A;
  bottom: 0px;
  top: 352px;
  width: 8%;
  font-size: 16px;
  text-shadow: none;
}

.marketplaceBox .carousel-control:focus, .marketplaceBox .carousel-control:hover{
  color: #7A7A7A !important;
}

.marketplaceBox .redTag{
  position: absolute;
  top: 30px;
  left: 8px;
  padding: 7px;
}
.carData{
  padding: 50px;
  font-size: 16px;
}

.carData .timeTxt{
  color: #e7e7e7;
  font-weight: bold;
  font-size: 14px;
}

.marketplaceBox .redButton {
  float: right;
  margin-right: 20px;
  margin-top: -5px;
}

.redCircle{
  background-color: #D42F39;
  font-size: 46px;
  padding: 22px 31px;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: calc(50% - 53px);
}

/*--------------------------------------------*/
/*-------------- UPCOMING EVENTS BOX----------*/
/*--------------------------------------------*/

.upcomeingBox{
  text-align: left !important;
  color: #343434;
}

.upcomeingBox h1{
  padding: 30px 30px 10px;
  margin: 0px;
}
.upcomeingItem{
  padding: 20px 30px;
  border-bottom: 2px dotted #e7e7e7;
  font-size: 14px;
  cursor: pointer;
}

.upcomeingItem::before{
  content: "";
  display: block;
  background-image: url("./images/calendar.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  float: left;
  margin: 6px 6px 0 0;
}

.upcomeingItem .timeTxt{
  color: #e7e7e7;
  font-weight: bold;
}

.upcomeingItem p{
  margin: 0px !important;
}

/*--------------------------------------------*/
/*-------------- GALLERY BOX------------------*/
/*--------------------------------------------*/

.galleryBox{
  position: relative;
}
.galleryBox .redTag{
  position: absolute;
  top: 30px;
  left: 8px;
  padding: 7px;
}

.galleryBox .item div{
  background-position: center;
  background-size: cover;
  height: 100%;
}

.galleryBox div{
  height: 100%;
}

/*--------------------------------------------*/
/*-------------- SURVEY BOX-------------------*/
/*--------------------------------------------*/

.surveyBox .nav-tabs>li>a{
  color: #fff;
  font-size: 15px;
  padding: 20px 50px 20px 25px;
  cursor: default;
  background-color: #7A7A7A;
  border: none;
  margin-left: -3px !important;
  border-radius: 0px;
  border-bottom-color: transparent;
}

.surveyBox .nav-tabs>li.active>a, .surveyBox .nav-tabs>li.active>a:focus, .surveyBox .nav-tabs>li.active>a:hover{
  color: #fff;
  font-size: 15px;
  padding: 20px 50px 20px 25px;
  cursor: default;
  background-color: #D42F39;
  border: none;
  margin-left: -3px !important;
  border-radius: 0px;
  border-bottom-color: transparent;
  text-decoration: none;
}

.surveyBox .nav-tabs{
  border: none;
  margin: 0px;
  background-color: #7A7A7A;
}

.surveyBox{
  background-color: #7A7A7A;
  text-align: left !important;
  overflow: hidden;
  position: relative;
}

.surveyBox .tab-content{
  height: 100%;
}

.surveyBox .tab-content>.active{
  padding: 30px;
  text-align: left;
  color: #ffffff;
  background-color: #D42F39;
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: absolute;
  top: 61px;
}

.surveyBox label{
  font-weight: 500 !important;
}

.surveyBox button{
  width: 50%;
  background-color: #D42F39;
  border: none;
  border-top: 1px solid #96232A;
  padding: 20px;
}
.surveyBox .submitBtn{
  bottom: 60px;
  left: 0;
  position: absolute;
  font-size: 12px;
}

.surveyBox .resultBtn{
  bottom: 60px;
  right: 0;
  position: absolute;
  font-size: 12px;
}

.surveyBox button:hover{
  border: none;
  border-top: 1px solid #96232A;
  background-color: #96232A;
}

/*--------------------------------------------*/
/*-------------- HELP DESK BOX----------------*/
/*--------------------------------------------*/

.helpdeskBox{
  overflow: hidden;
  color: #ffffff;
  padding: 20px;
  position: relative;
}

.imgContainer{
  position: absolute;
  height: 120%;
}
.helpdeskBox h2{
  font-size: 20px;
  font-weight: bold;
}

.helpdeskBox p{
  font-weight: bold;
  font-size: 68px;
  line-height: 0.5;
}
.smileImg{
  background-image: url(./images/smile.png);
  background-repeat: no-repeat;
  opacity: 0.1;
  top: -86px;
  left: -90px;
  width: 270px;
  bottom: 0;
  right: 0;
  position: absolute;
}

/*------------------------------------------------*/
/*----------------MEDIA QUERIES ------------------*/
/*------------------------------------------------*/

@media (max-width: 768px) {

  .marketplaceBox .redButton {
    margin-top: -26px;
  }

  .flex-container {
   grid-template-columns: 1fr;
   grid-template-rows: minmax(70px, auto) minmax(70px, auto);
   grid-auto-rows: minmax(70px, auto);
 }
 .carousalContainer {
   grid-column: 1;
   grid-row: 1 / 6;
 }

 .searchBox {
   grid-column: 1;
   grid-row: 6 ;
 }

 .selfServiceBox{
   grid-column: 1;
   grid-row: 7 / 12;
 }

 .circularsBox {
   grid-column: 1;
   grid-row: 12 / 16;
 }
 .announcementBox {
   grid-column: 1;
   grid-row: 16 / 22;
 }
 .marketplaceBox {
   grid-column: 1;
   grid-row: 22 / 28;
 }
 .upcomeingBox {
   grid-column: 1;
   grid-row: 28 / 33;
 }
 .surveyBox {
   grid-column: 1;
   grid-row: 33 / 37;
 }
 .galleryBox {
   grid-column: 1;
   grid-row: 37 / 41;
 }
 .helpdeskBox {
   grid-column: 1;
   grid-row: 41 / 43;
 }
}

@media (max-width: 900px) and (min-width: 768px) {
  .flex-container {
   grid-template-columns: 1fr 1fr;
   grid-template-rows: minmax(70px, auto) minmax(70px, auto);
   grid-auto-rows: minmax(70px, auto);
 }
 .carousalContainer {
   grid-column: 1 / 3;
   grid-row: 1 / 6;
 }

 .searchBox {
   grid-column: 1;
   grid-row: 6 ;
 }

 .selfServiceBox{
   grid-column: 2;
   grid-row: 6 / 11;
 }

 .circularsBox {
   grid-column: 1;
   grid-row: 7 / 11;
 }
 .announcementBox {
   grid-column: 2;
   grid-row: 11 / 17;
 }
 .marketplaceBox {
   grid-column: 1;
   grid-row: 11 / 17;
 }
 .upcomeingBox {
   grid-column: 2;
   grid-row: 17 / 22;
 }
 .surveyBox {
   grid-column: 1;
   grid-row: 17 / 21;
 }
 .galleryBox {
   grid-column: 1;
   grid-row: 21 / 25;
 }
 .helpdeskBox {
   grid-column: 2;
   grid-row: 22 / 24;
 }
}

@media (min-width: 900px) {
   .flex-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(70px, auto) minmax(70px, auto);
    grid-auto-rows: minmax(70px, auto);
  }
  .carousalContainer {
    grid-column: 1 / 3;
    grid-row: 1 / 6;
  }

  .searchBox {
    grid-column: 3;
    grid-row: 1 ;
  }

  .selfServiceBox{
    grid-column: 3;
    grid-row: 2 / 7;
  }

  .circularsBox {
    grid-column: 1;
    grid-row: 6 / 10;
  }
  .announcementBox {
    grid-column: 2;
    grid-row: 6 / 12;
  }
  .marketplaceBox {
    grid-column: 3;
    grid-row: 7 / 13;
  }
  .upcomeingBox {
    grid-column: 1;
    grid-row: 10 / 15;
  }
  .surveyBox {
    grid-column: 2;
    grid-row: 12 / 16;
  }
  .galleryBox {
    grid-column: 3;
    grid-row: 13 / 17;
  }
  .helpdeskBox {
    grid-column: 1;
    grid-row: 15 / 17;
  }
}
